<ul id='noterror' class="errorlist list-unstyled">
    {% if form.non_field_errors %}
      <li>{{ form.non_field_errors }}</li>
    {% endif %}
    {% for field in form %}
      {% if field.errors %}
        <li>
          {{ field.label|title }}
          <ul class="errorlist">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
</ul>

<script>
    const noterror = document.getElementById("noterror") 
    setTimeout(() => {
      noterror.remove()
    }, 8 * 1000)
</script>
