{%block content1%}
<div class="col-md-6  leftside ">
    <div class=" p-4 mb-4">
     <h1 class="ms-5">Let us help you <br> settle this!</h1>
    </div>
    <div class="container-iconos text-center">
        <div>
            <div class="iconos  align-items-center ">
                <i class="fa-solid fa-file-lines"></i>
            </div>

            <div class="description-iconos"> 
                <h3>Create</h3>
                <p>your dispute</p>
            </div>
        </div>
        
        <div>
            <div class="iconos-2  align-items-center ">
                <span class='notification-icono-2'>1</span>
                <i class="fa-regular fa-handshake"></i>
            </div>

            <div class="description-iconos">
                <h3>Agreed</h3>
                <p>with the other party</p>
            </div>
        </div>

        <div>
            <div class="iconos-3  align-items-center ">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>

            <div class="description-iconos">
                <h3>Claim</h3>
                <p>your money</p>
            </div>
        </div>
    </div>
</div>
{%endblock content1%}

{%block content2%}
<div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.</p>
</div>
{%endblock content2%}

{%block content3%}
<div>
    <div>
         <h2> Description </h2>
        <p>Tell us as much as you posibly can about the cause of the dispute.</p>
    </div>
    <div>
        <h3>Add your description below</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. <br>  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
    </div>
</div>
 {%endblock content3%}